


body{
    background: linear-gradient(to right, #c31432, #240b36);
}

.name
{
    margin-top: 50px;
    margin-left: 400px;}
.hi{
    font-family: 'Sofia';font-size: 38px;
}

.container {
    
    height: 270px;
    width: 500px;
    border-radius: 40px;
    background-color: antiquewhite;
    margin-top: 50px;
    margin-left: 375px;
    border: #1c1415 solid 7px;
    font-family: cursive;
    font-size: x-large;
    resize: none;
    outline:none;
    padding: 20px;
    
    }

.out
{
    position: absolute;
    top: 250px;
    right: 125px;
    height: 100px;
    width: 250px;
    background-color: black;
    border-radius: 40px;
    border:#920205 double 5px;
    color: aliceblue;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:xx-large;
    padding-left: 15px;
    padding-right: 15px;
    font-family: cursive;

   
    display: none;
   
    
}
.butt
{
    height: 35px;
    width: 125px;
    border-radius: 30px;
    background: linear-gradient(to right, #c2210f, #d73102);
    color: aliceblue;
    font-size: larger;
    margin-left: 570px;
    margin-top: 50px;
}